.label{
    font-weight: bold;
}

.boxLabel{
    margin-bottom: 4px;
}

.textInput{
    display: block;
    text-align: left;
}

.input{
    width: 450px;
    height: 3.8vh;
    outline: none;
    border: 1.7px solid #b2bec3;
    border-radius: 3px;
}

.devider{
    margin-top: 17px;
}